# Default owners for everything in the repo
* @devilliers

# Core application code
/cmd/ @devilliers
/internal/ @devilliers

# Configuration files
/.github/ @devilliers
/.golangci.yml @devilliers
/.goreleaser.yml @devilliers
/go.mod @devilliers
/go.sum @devilliers

# Documentation
/README.md @devilliers
/docs/ @devilliers
/LICENSE @devilliers
